.col-md-1
.col-md-5
  = image_tag 'coveronly2.80.jpg', class: "img-responsive"
.col-md-5.book-text
  %h2
    nothing. volume one. 
  %p.lead.book-caption
    a set of raw sentiments pretending to be poems.

  %p
    The book will be available to download from this site very soon. 
    It will also be available for the Kindle and for print on Lulu.
.col-md-1

