.col-md-1
.col-md-5
  = link_to '/volume-one' do
    = image_tag 'volume-one.jpg', class: "img-responsive"
  %br/
.col-md-5
  = link_to '/volume-two' do
    = image_tag 'volume-two.jpg', class: "img-responsive"
.col-md-1

